{% extends "learning_logs/base.html" %}

{% load crispy_forms_tags %}

{% block content %}
<div class="card my-4">
    <div class="card-header">
        <h2>Adicionar nova entrada</h2>
        <p><a href="{% url 'topic' topic.id %}">{{ topic }}</a></p>
    </div>
    <div class="card-body">
        <form action="{% url 'new_entry' topic.id %}" method="post" class="form">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary mt-3">Adicionar</button>
        </form>
    </div>
</div>
{% endblock content %}
